* {
  font-family: Arial, Verdana, sans-serif;
  color: black;
  text-align: center;

}

body {
  margin: 0 auto;
}
.clear-box {
  clear: both;
}

.boxwrapper{
  margin: 0 auto;
  width: 70%;
}

#content {
  overflow: auto;
}

.column {
  height: auto;
  width: 31.3%;
  float: left;
  margin: 1%;
}

.gift{
  background-color: #2E486A;
  height: 300px;
}

.flavors{
  background-color: #558644;
  height: 267.17px;
}

.button{
  background-color: #D53F3D;
  margin-top: 13%;
}

li {
  display: inline;
  padding: 2.00em;
  z-index: 10;
}

#header, #footer {
background-color: #DFAA80;
padding: 0.5em 0;
opacity: 0.5;
}

#hero {
  overflow: hidden;
}

nav {
  color: black;
  position: fixed;
  /*z-index: 10;*/
}

#location {
  position: relative;
  height: 20em;
  background-color: #DFAA70;
  opacity: 0.5;
}

#contact {
width: 500px;
float: left;
padding: 20px;
/*z-index: 10;*/
}

#contact2 {
  width: 500px;
  float: right;
  padding: 20px;
}

#footer{
bottom: 0px;
}
