* {
	font-family: Arial, Verdana, sans-serif;
  color: black;
  text-align: center;
}


#cookiesjs{
	background-color:  #DFAA80;
	/*opacity: 0.5;*/
}

td {
	padding: 10px;
	border-radius: 15px;
	font-size: 18px;
}

th {
	font-size: 18px;
	letter-spacing: .8px;
}
